<?xml version="1.0"?>
<config>
    <modules>
        <Maven_Html5uploader>
            <version>0.1.0</version>
        </Maven_Html5uploader>
    </modules>
    <global>
        <models>
            <maven_html5uploader>
                <class>Maven_Html5uploader_Model</class>
                <resourceModel>maven_html5uploader_resource</resourceModel>
            </maven_html5uploader>
            <maven_html5uploader_resource>
                <class>Maven_Html5uploader_Model_Resource</class>
            </maven_html5uploader_resource>
        </models>
        <blocks>
            <maven_html5uploader>
                <class>Maven_Html5uploader_Block</class>
            </maven_html5uploader>
            <adminhtml>
                <rewrite>
                    <media_uploader>Maven_Html5uploader_Block_Adminhtml_Media_Uploader</media_uploader>
                    <cms_wysiwyg_images_content_uploader>Maven_Html5uploader_Block_Adminhtml_Cms_Wysiwyg_Images_Content_Uploader</cms_wysiwyg_images_content_uploader>
                </rewrite>
            </adminhtml>
            <uploader>
                <rewrite>
                    <multiple>Maven_Html5uploader_Block_Uploader_Multiple</multiple>
                </rewrite>
            </uploader>
        </blocks>
        <helpers>
            <maven_html5uploader>
                <class>Maven_Html5uploader_Helper</class>
            </maven_html5uploader>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <maven_html5uploader module="Maven_Html5uploader">
                    <file>maven_html5uploader.xml</file>
                </maven_html5uploader>
            </updates>
        </layout>
        <translate>
            <modules>
                <maven_html5uploader>
                    <files>
                        <default>Maven_Html5uploader.csv</default>
                    </files>
                </maven_html5uploader>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <maven_html5uploader before="Mage_Adminhtml">Maven_Html5uploader_Adminhtml</maven_html5uploader>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>